<!-- Set Your Variables Here -->
<% est = "$8-10" %>
<% stars = "http://tinyurl.com/odzxoo7" %>
<% restaurant = {name: "Tony's", address: ""} %>

<div class="row">
	<div class="col-sm-12 col-lg-12">
		<div class="panel">
			<div class="panel-heading">
			<%= image_tag stars %>
			</div>
			<div class="panel-body">

			</div>
		</div>
		<%= form_tag("/random", method: "get") do %>
		  <%= hidden_field :coordinates , :start_latitude, value:"#{@initial_coordinates['latitude']}", id:"start_latitude"%>
		  <%= hidden_field :coordinates , :start_longitude, value:"#{@initial_coordinates['longitude']}", id:'start_longitude' %>
		  <%= hidden_field :coordinates , :end_latitude, value:"end_lat", id:"end_latitude"%>
		  <%= hidden_field :coordinates , :end_longitude, value:"end_long", id:'end_longitude' %>
		  <%= submit_tag("Ride There With Uber #{est}" , class:"btn btn-default btn-lg", :id=> "barHop") %>
		<% end %>
		<!-- <button id="barHop" type="button" class="btn btn-default btn-lg">
			Ride There With Uber <%= est %>
		</button> -->
		<p id='address'><%= @address %></p>
	</div>
</div>
<%= @address %>
<%= @name%>
<%=@image%>
<%=@rating %>
<%=@status %>
<%= @initial_coordinates%>