
<div class="row">
  <div class="text-center">
      <%= form_for(@user) do |f| %>

        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :email %><br>
          <%= f.email_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password %><br>
          <%= f.password_field :password, class: "form-control"  %>
        </div>
        <div class="form-group">
          <%= f.submit "Register", class: "login" %>
        </div>

      <% end %>
    </div>
</div>

<script>
  $(document).ready(function(){
    $('nav').toggle();
  });
</script>
