<!DOCTYPE html>
<html>
<head>
  <title>BarRoulette</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:900,600,400' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

</head>
<body>
      <% if flash[:error] %>
        <div class='error_message'><p class="notice"><%= flash[:error] %></p></div>
      <% end -%>
	<%= render "layouts/navbar" %>
	<div class="container col-md-10 col-md-offset-1">
		<%= yield %>
	</div>
</body>
</html>
